<div class="modal-content">
    <div class="modal-header">
        <button class="close" data-dismiss="modal" area-hidden="true">X</button>
        <h1 class="request-title">Новая категория</h1>
    </div>
    <div class="modal-body">
        @using (Html.BeginForm("CreateCategory", "Admin", FormMethod.Post))
        {
            <div>
                <p class="box-title"><b>Название категории</b></p>
                <input type="text" id="category_name" name="category_name" class="input-box" style="width: 258px; margin-bottom: 10px;">
            </div>
            <button type="submit" class="create-req-button">Добавить</button>
        }
    </div>
</div>

